a, a:link, a:active, a:focus, a:hover{
	outline: none;
	-moz-outline-style: none;
	outline-style: none;
}
:-moz-any-link:focus {
  outline: none;
}
.bodylogin {
	padding-top: 60px;
	padding-bottom: 40px;
}
.bodylogin .navbar-inner{
	background-color: transparent;
	box-shadow: none;
}
.brandbar{
	min-height: 50px;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.brandbar .brand{
	float:left;
	margin-top:8px;
}
.brandbar dl{
	float: right;
}
.brandbar dl dt{
	float:left;
}
.navbar-inner{
	background-color: #F3861E/*#FFDD2B*/;
	background-image: none;
	border-radius: 0px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	color: #FFFFFF;
	background: none;
	border-color: #FFFFFF;
}
.navbar .nav > li > a:hover{
	border-color: #FFFFFF;
}
.navbar .nav > li > a {
    color: #FFFFFF;
		font-weight: bold;
		border-color: #FFFFFF;
		border-width: 0px 1px 0px 0px;
		border-style: solid;
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#menuaccueil{
	color: #FFFFFF;
	background: none;
}
#menuaccueil a:hover, #menuaccueil.active{
	/*background-color: #E87F1E;*/
}
#menuclient, #menucommande{
	background-color: #FF1F80;
}
#menuclient a:hover, #menucommande a:hover, #menuclient.active, #menucommande.active{
	background-color: #CC1662;
}
#menucatalogue, #menucontenu, #menupaiement{
	background-color: #00A55E;
}
#menucatalogue a:hover, #menucontenu a:hover, #menupaiement a:hover, #menucatalogue.active, #menucontenu.active, #menupaiement.active{
	background-color: #00773F;
}
#menuconfiguration, #menuplugins{
	background-color: #1695F4;
}
#menuconfiguration a:hover, #menuplugins a:hover, #menuconfiguration.active, #menuplugins.active{
	background-color: #1585D6;
}
.Blocmoncompte dt{
	font-weight: 100;
	letter-spacing: 1px;
	margin: 0px 10px;
	color: #A6A6A6;
}
#moteurrecherche{
	height: 39px;
	float: right;
	display: block;
	position: relative;
	top:0;
}
.nav .dropdown-menu{
	margin: 0 1px 0 0;
}
.navbar .container{
	width: 1170px;
}
.navbar .form-search, .navbar .form-search .control-group{
	padding:0px;
	margin:0px;
	/*float:right;*/
}
.navbar .form-search{
	float: right;
	height: 40px;
	width: 210px;
}
.navbar .form-search.active{
	background-color: #F8F8F8;
}
.navbar .form-search .pull-right{
	margin-right:11px;
}
.navbar .form-search .add-on{
	height:28px;
}
.navbar .form-search .input-append{
	margin-top:5px;
}
.navbar .search-result{
	display: none;
	position:relative;
	top: 40px;
	background-color:#f8f8f8;
	width:400px;
	float:right;
	z-index:999;
	top:7px;
-moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
-o-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.Shadow(color='rgba(0, 0, 0, 0.25)', Direction=135, Strength=3);
}
.search-result ul{
	overflow: auto;
	list-style-type: none;
	padding:0px;
	margin:9px 0px 9px 0px;
}
.search-result li{
	width: 378px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:solid 1px #FFFFFF;
	border-bottom:solid 1px #F0F0F0;
	float:left;
}
.search-result li:first-child{
	border-top:solid 1px transparent;
}
.search-result li .type-resultat{
	width: 22px;
	height: 49px;
	float: left;
}
.search-result li .type-resultat i{
	margin:17px 0px 0px 5px;
}
.search-result li .img{
	width: 49px;
	height: 49px;
	border: solid 1px #999999;
	float:left;
}
.search-result li .img:hover{
	border-color: #0088CC;
}
.search-result li .txt{
	display: block;
	padding-left: 79px;
}
.search-result .filtre{
	padding-left:11px;
}
.search-result #loadingsearch{
	background-image:url('../img/ajax-loader.gif');
	height:20px;
	background-repeat:no-repeat;
	background-position: center center;
}
.statsvente{
	line-height:normal;
}
.statsvente .statprincpale{
	width:205px;
	float:left;
}
.statsvente .statprincpale .stattire {
    font-size: 40px;
    font-weight: bold;
}
.statsvente .statprincpale .stattire span{
	font-size:12px;
	font-weight:normal;
}
.statsvente .statprincpale .chiffrestat{
	font-size: 36px;
	letter-spacing: 2px;
	margin-top: -14px;
}
.statsvente .statdroite{
	width:120px;
	float:right;
}
.statsvente .statdroite .stattire {
	font-size: 15px;
  font-weight: bold;
}
.statsvente .statdroite .stattire span {
	font-size:10px;
	font-weight:normal;
}
.statsvente .statdroite .chiffrestat {
	font-size:22px;
	text-align:right;
	margin-top:-6px;
}
.statsvente .statbas{
	width:91px;
	float:right;
}
.statsvente .statbas .stattire {
	text-transform: uppercase;
	font-size:9px;
	letter-spacing: 1px;
	text-align:center;
}
.statsvente .statbas .stattire span {
	float: left;
	font-size: 9px;
	letter-spacing: 0;
	text-transform: uppercase;
	width: 100%;
}
.statsvente .statbas .chiffrestat {
	font-size:15px;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:center;
}
.statsvente .ligne{
	float:left;
	margin-top:4px;
}
.spacetop18{
	margin-top:18px;
}
#ca30j .jqplot-highlighter-tooltip, #ca30j .jqplot-canvasOverlay-tooltip {
    background: none repeat scroll 0 0 rgba(208, 208, 208, 0.75);
    border: 1px solid #CCCCCC;
    font-size: 1.75em;
    padding: 5px;
    white-space: nowrap;
}